In [1]:
import pandas as pd

In [2]:
loans = pd.read_csv("loan_approval_dataset.csv")
loans.drop("loan_id", axis=1, inplace=True)
loans.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [3]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0    no_of_dependents          4269 non-null   int64
 1    education                 4269 non-null   object
 2    self_employed             4269 non-null   object
 3    income_annum              4269 non-null   int64
 4    loan_amount               4269 non-null   int64
 5    loan_term                 4269 non-null   int64
 6    cibil_score               4269 non-null   int64
 7    residential_assets_value  4269 non-null   int64
 8    commercial_assets_value   4269 non-null   int64
 9    luxury_assets_value       4269 non-null   int64
 10   bank_asset_value          4269 non-null   int64
 11   loan_status               4269 non-null   object
dtypes: int64(9), object(3)
memory usage: 400.3+ KB

In [4]:
loans.describe().applymap("{:,.1f}".format)

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
count,"4,269.0","4,269.0","4,269.0","4,269.0","4,269.0","4,269.0","4,269.0","4,269.0","4,269.0"
mean,2.5,"5,059,123.9","15,133,450.5",10.9,599.9,"7,472,616.5","4,973,155.3","15,126,305.9","4,976,692.4"
std,1.7,"2,806,839.8","9,043,363.0",5.7,172.4,"6,503,636.6","4,388,966.1","9,103,753.7","3,250,185.3"
min,0.0,"200,000.0","300,000.0",2.0,300.0,"-100,000.0",0.0,"300,000.0",0.0
25%,1.0,"2,700,000.0","7,700,000.0",6.0,453.0,"2,200,000.0","1,300,000.0","7,500,000.0","2,300,000.0"
50%,3.0,"5,100,000.0","14,500,000.0",10.0,600.0,"5,600,000.0","3,700,000.0","14,600,000.0","4,600,000.0"
75%,4.0,"7,500,000.0","21,500,000.0",16.0,748.0,"11,300,000.0","7,600,000.0","21,700,000.0","7,100,000.0"
max,5.0,"9,900,000.0","39,500,000.0",20.0,900.0,"29,100,000.0","19,400,000.0","39,200,000.0","14,700,000.0"

In [5]:
loans.nunique()

 no_of_dependents              6
 education                     2
 self_employed                 2
 income_annum                 98
 loan_amount                 378
 loan_term                    10
 cibil_score                 601
 residential_assets_value    278
 commercial_assets_value     188
 luxury_assets_value         379
 bank_asset_value            146
 loan_status                   2
dtype: int64

In [6]:
loans.columns = loans.columns.str.strip()
loans['education'] = loans['education'].str.strip()
loans['self_employed'] = loans['self_employed'].str.strip()
loans['loan_status'] = loans['loan_status'].str.strip()

loans["education"] = loans["education"].replace({"Graduate" : 1, "Not Graduate" : 0})
loans["self_employed"] = loans["self_employed"].replace({"Yes" : 1, "No" : 0})
loans["loan_status"] = loans["loan_status"].replace({"Approved" : 1, "Rejected" : 0})

loans.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,1,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1
1,0,0,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,1,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0
3,3,1,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0
4,5,0,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,0